.App {
  margin: 40px;
}

.Code {
  font-family: monospace;
  padding: 20px;
  background: #eee;
  border-radius: 6px;
  margin-bottom: 1em;
}

.Form {
  border: 1px solid #eee;
  border-radius: 6px;
  margin-bottom: 1em;
  padding: 20px;
}

.Form input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 10px;
}

.List {

}

.List .Item {
  padding: 10px 20px;
  border: 1px solid #eee;
  background: #eee;
  border-radius: 6px;
  margin-bottom: .25em;
}